[submodule "Modules/MetalCanvas"]
	path = Modules/MetalCanvas
	url = git@github.com:Hideyuki-Machida/MetalCanvas.git
[submodule "Modules/CoreMLHelpers"]
	path = Modules/CoreMLHelpers
	url = git@github.com:hollance/CoreMLHelpers.git
