-u ${JC5THsNkR8ZmCKhZmU}:${LXdNkxeTVt4uJSjvsfHLRR2WPmM7FMBe} \




https://hideyuki machida:jJb62mFg6nASuyCnvensuki_machida/c86unitychan_001_sak01_final.git


はい！

本日：　13:00 ~ 18:00まで
明日木曜日：　10:00 ~ 16:00　※ 本日夜のMTG次第で午前も稼働できないかもしれません。。。
金曜日： 終日稼働（出勤） 

になります。



https://cl.ly/8f933e8978fd